In [7]:
import pandas as pd

Apple_dataframe = pd.read_csv('AMZN_data.csv')
Apple_dataframe.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-12-27 00:00:00-05:00,9.095,9.1570,9.0225,9.1070,44988000,0.0,0.0
1,2010-12-28 00:00:00-05:00,9.105,9.1385,9.0525,9.0545,39500000,0.0,0.0
2,2010-12-29 00:00:00-05:00,9.090,9.2175,9.0205,9.1685,62402000,0.0,0.0
3,2010-12-30 00:00:00-05:00,9.196,9.2275,9.1375,9.1375,39224000,0.0,0.0
4,2010-12-31 00:00:00-05:00,9.098,9.1150,8.9755,9.0000,69038000,0.0,0.0

In [8]:
open = []
high = []
low = []
close = []
dates = []
for i in range(len(Apple_dataframe)):
    date = Apple_dataframe['Date'][i].split(' ')[0]
    year = date[2:4]
    if year == '24':
        open.append(Apple_dataframe['Open'][i])
        high.append(Apple_dataframe['High'][i])
        low.append(Apple_dataframe['Low'][i])
        close.append(Apple_dataframe['Close'][i])
        dates.append(Apple_dataframe['Date'][i])

In [9]:
apple_dict =  {"Date" : dates , "Open" : open , "High" : high , "Low" : low , "Close" : close}
apple_test = pd.DataFrame(apple_dict)
apple_test.to_csv('Amazon_test.csv')

In [10]:
length = 40
test = pd.read_csv('Amazon_test.csv')
i  = 0
k = 0
while i < len(test):
    open_test = test['Open'][i:i+length]
    high_test = test['High'][i:i+length]
    low_test = test['Low'][i:i+length]
    close_test = test['Close'][i:i+length]
    test_df = pd.DataFrame({"Open" : open_test , "High" : high_test , "Low" : low_test , "Close" : close_test})
    test_df.to_csv(f"Amazon_test_set_{k}.csv")
    k += 1
    i += length